* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 1% 10%;
}

.col-1 {
  width: 8.3333333333%;
  padding: 0 16px;
}

.col-2 {
  width: 16.6666666667%;
  padding: 0 16px;
}

.col-3 {
  width: 25%;
  padding: 0 16px;
}

.col-4 {
  width: 33.3333333333%;
  padding: 0 16px;
}

.col-5 {
  width: 41.6666666667%;
  padding: 0 16px;
}

.col-6 {
  width: 50%;
  padding: 0 16px;
}

.col-7 {
  width: 58.3333333333%;
  padding: 0 16px;
}

.col-8 {
  width: 66.6666666667%;
  padding: 0 16px;
}

.col-9 {
  width: 75%;
  padding: 0 16px;
}

.col-10 {
  width: 83.3333333333%;
  padding: 0 16px;
}

.col-11 {
  width: 91.6666666667%;
  padding: 0 16px;
}

.col-12 {
  width: 100%;
  padding: 0 16px;
}

@media only screen and (max-width: 992px) {
  .col-md-6 {
    width: 50%;
    padding: 0 16px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 16px;
  }
}
@media only screen and (max-width: 576px) {
  .col-sm-12 {
    width: 100%;
    padding: 0 16px;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 16px;
  }
}
header {
  display: flex;
  flex-direction: column;
}
header .header--top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
}
.search .input {
  display: flex;
  width: 95%;
  background-color: #F6F6F8;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 8px;
}
.search .input input {
  border: none;
  background-color: #F6F6F8;
  width: 100%;
  padding: 10px 20px;
}
.search .language {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  gap: 5px;
}

.profile {
  display: flex;
  width: 16%;
  justify-content: center;
  align-items: center;
}
.profile ul {
  display: flex;
}
.profile ul li {
  list-style-type: none;
  margin: 0 12px;
}
.profile .count {
  margin-left: 11%;
}

.header--bottom {
  padding: 16px 0;
  background-color: #1D2123;
  width: 100%;
}
.header--bottom ul {
  display: flex;
  justify-content: space-between;
}
.header--bottom ul li {
  list-style-type: none;
}
.header--bottom ul li a {
  text-decoration: none;
  color: white;
}
.header--bottom ul li a:hover {
  color: hotpink;
}

.promation {
  position: relative;
  padding: 16px 0;
}
.promation_img img {
  width: 100%;
}
.promation .spans {
  display: flex;
  justify-content: space-between;
}
.promation .spans .left_button {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: rotate(90deg);
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.promation .spans .left_button svg {
  width: 10px;
  height: 10px;
}
.promation .spans .right_button {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: rotate(-90deg);
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.promation .circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.promation .circles span:first-child {
  padding: 5px;
  border-radius: 50%;
  background-color: #E0E0E0;
}
.promation .circles span:last-child {
  padding: 5px;
  border-radius: 50%;
  background-color: #E0E0E0;
}
.promation .circles span:nth-child(2) {
  padding: 5px;
  border-radius: 50%;
  background-color: #828282;
}

.best-sells {
  background-color: rgba(229, 229, 229, 0.2509803922);
  z-index: 99999;
}
.best-sells_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 17px;
}
.best-sells .card_wrapper {
  display: flex;
  margin-top: 40px;
  width: 100%;
  overflow-x: scroll;
  gap: 10px;
}
.best-sells .card_wrapper .vector {
  transform: rotate(270deg);
  position: absolute;
  right: 7%;
  top: 140%;
}
.best-sells .card_wrapper .vector svg {
  width: 30px;
  height: 30px;
}
.best-sells .card_wrapper .card {
  width: 250px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.best-sells .card_wrapper .card-image .card-svg {
  display: flex;
  justify-content: space-between;
}
.best-sells .card_wrapper .card-image .card-svg .add-svg {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 7px;
  z-index: 999;
}
.best-sells .card_wrapper .card-image .card-svg .add-img1 {
  padding-top: 55px;
  z-index: 999;
}
.best-sells .card_wrapper .card-image .card-svg span {
  display: flex;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 2%;
  margin: 2%;
  text-align: center;
}
.best-sells .card_wrapper .card-image .card-svg span svg {
  justify-content: center;
  align-items: center;
}
.best-sells .card_wrapper .card-image img {
  margin: -27px 24%;
}
.best-sells .card_wrapper .card article {
  margin: 15px;
}
.best-sells .card_wrapper .card article .stars {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}
.best-sells .card_wrapper .card article .price {
  padding: 10px 0;
  display: flex;
}
.best-sells .card_wrapper .card article .price h3 {
  color: #ED008C;
}

.card_wrapper::-webkit-scrollbar {
  display: none;
}

.advertisement {
  background-color: rgba(229, 229, 229, 0.2509803922);
}
.advertisement_wrapper {
  display: flex;
  justify-content: space-between;
}
.advertisement_wrapper .card-add {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.advertisement_wrapper .card-add img {
  width: 100%;
}

.advertisement-second {
  background-color: rgba(229, 229, 229, 0.2509803922);
}
.advertisement-second_wrapper {
  height: 215px;
}
.advertisement-second_wrapper .card-adver--second {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.advertisement-second_wrapper .card-adver--second img {
  width: 100%;
}

.sponsors {
  background-color: rgba(229, 229, 229, 0.2509803922);
}
.sponsors_wrapper {
  display: flex;
  margin: 120px 0 0 0;
}
.sponsors_wrapper .card-sponsors {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sponsors_wrapper .card-sponsors img {
  width: 100%;
}
.sponsors .circles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
.sponsors .circles span:first-child {
  padding: 5px;
  border-radius: 50%;
  background-color: #E0E0E0;
}
.sponsors .circles span:last-child {
  padding: 5px;
  border-radius: 50%;
  background-color: #E0E0E0;
}
.sponsors .circles span:nth-child(2) {
  padding: 5px;
  border-radius: 50%;
  background-color: #828282;
}

.subscribe {
  display: flex;
  background-color: rgba(229, 229, 229, 0.631372549);
  justify-content: center;
}
.subscribe_wrapper {
  display: flex;
  flex-direction: column;
}
.subscribe_wrapper h5 {
  text-align: center;
  padding: 70px;
}
.subscribe_wrapper .input {
  display: flex;
  margin-bottom: 50px;
}
.subscribe_wrapper .input #mail {
  width: 384px;
  height: 48px;
  border: none;
  border-radius: 8px;
  padding-left: 20px;
}
.subscribe_wrapper .input #submit {
  width: 128px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  margin-left: 8px;
}

.footer {
  background-color: #131515;
}
.footer_wrapper {
  display: flex;
  padding: 50px 0;
}
.footer_wrapper .list h6 {
  color: #ffffff;
  padding: 18px 0;
  font-size: 13px;
}
.footer_wrapper .list ul li {
  list-style-type: none;
}
.footer_wrapper .list ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  padding: 20px 0;
}
.footer_wrapper .list #social-media {
  padding: 10px 0;
  display: flex;
}
.footer_wrapper .list #social-media li {
  padding: 0 10px 0 0;
}
.footer_last {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.footer_last .company_name h5 {
  color: #ffffff;
  font-size: 13px;
}
.footer_last .security {
  display: flex;
  gap: 15px;
}
.footer_last .security .policy h5 {
  color: #ffffff;
  font-size: 13px;
}
.footer_last .security .privacy h5 {
  color: #ffffff;
  font-size: 13px;
}/*# sourceMappingURL=main.css.map */